= form_tag sales_path, method: "get", class: 'form' do
  .form-group
    = text_field_tag :email, '', placeholder: "Email", class: 'form-control'
  .form-group
    = text_field_tag :last_name, '', placeholder: "Last Name", class: 'form-control'
  .form-group
    = submit_tag "Filter", class: 'btn btn-primary btn-block'
